* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #f5f5dc;
  padding: 10px 0px 50px 0px;
}

#hr {
  margin-top: 50px;
  width: 100%;
  border-top: 2px dashed rgb(80, 81, 81);
  background-color: transparent;
}

#flex {
  font-size: 50px;
  margin: 20px auto;
}

#box1 {
  width: 60vw;
  height: 80vh;
  /* background-color: orange; */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  /* gap: 10px; */
}

#nav1 {
  width: 25%;
  height: 100%;
  background-color: #d7e8d4;
  display: flex;
  text-align: start;
  flex-direction: column;
  padding: 30px 40px;
}

.elem1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-top: 2px solid #9acd32;
    cursor: pointer;
}

.elem1:hover{
    background-color: black;
}

#middlebox1 {
  width: 75%;
  height: 100%;
}

#row1 {
  width: 100%;
  height: 20%;
  background-color: #9acd32;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

#logo{
    width: 50px;
    height: 50px;
    overflow: hidden;
}

#menu{
    width: 15px;
    height: 25px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
}

#menu i:hover{
    background-color: black;
    border-radius: 50%;
    color: #9acd32;
    padding: 5px;
}

#logo>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 10px;
}

#row2 {
  width: 100%;
  height: 60%;
  display: flex;
}

#left {
  width: 80%;
  height: 100%;
  background-color: white;
}

#image{
    background-image: url(https://images.pexels.com/photos/217660/pexels-photo-217660.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
#image2{
    background-image: url(https://images.pexels.com/photos/3179911/pexels-photo-3179911.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

#right {
  width: 20%;
  height: 100%;
  color: black;
  background-color: #f0f0b8;
  /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#social{
    width: 30px;
    /* background-color: red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;    
}


#social i:hover{
    background-color: black;
    padding: 8px;
    border-radius: 50px;
    color: #9acd32;
    font-size: 15px;
    /* margin-top: 20px; */
    /* border-bottom: 2px solid #9acd32; */
}

#row3 {
  width: 100%;
  height: 20%;
  background-color: #9acd32;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#weblinks{
    /* background-color: red; */
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 50px;
}

#weblinks .items>a{
background-color: black;
padding: 12px 22px;
border: 2px solid rgb(51, 50, 50);
color: wheat;
}

#weblinks .items>a:hover{
    color: #9acd32;
    font-style: normal;
    text-decoration: none;
}

#box2 {
  width: 60vw;
  height: 80Fvh;
  background-color: orange;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 4;
  grid-template-columns: 3;
}

#nav{
    width: 15vw;
    display: flex;
    text-align: start;
   
    flex-direction: column;
    padding: 30px 40px;
    background-color: #d7e8d4;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

#header{
    width: 45vw;
    height: 16vh;
    background-color: #9acd32;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

#article{
    margin-top: 0;
    width: 35vw;
    height: 50vh;
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

}

#aside{
    width: 10vw;
    height: 50vh;
    background-color: #f0f0b8;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    color: black;
}


#footer{
    width: 45vw;
    height: 16vh;
    background-color:  #9acd32;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

a{
    text-decoration: none;
    color: #394b2c;
    font-weight: 600;
    margin: 10px 10px;
}

a:hover{
    text-decoration: line-through;
    color: #9acd32;
    font-style: italic;
}

#flexbox{
    color: #000000;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 700;
}